.form{
  padding: 5%;
  padding-left: 35%;
  width: 800px;
  align-self: center;
  margin: auto;
}

.lecture {
  alignment: right;
  float: left;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
