.form{
  padding: 5%;
  padding-left: 35%;
  width: 800px;
  align-self: center;
  margin: auto;
}

/*.lecture {*/
  /*alignment: right;*/
  /*float: left;*/
/*}*/
.barcode {
  height: 280px;
  width: 400px;
}
