<div class="form">
  <form #f="ngForm" (ngSubmit)="submit(f.value)">
    <h2>Please put your old and new password</h2>
    <div *ngIf="invalidPassword" class="alert alert-danger">
      Invalid old password
    </div>
    <div *ngIf="success" class="alert alert-success">
      Your password was successfully changed
    </div>
    <div class="form-group">
      <label for="oldPassword">Old password</label>
      <input
        required
        #oldPassword="ngModel"
        ngModel
        name="oldPassword"
        minlength="5"
        type="password"
        class="form-control"
        id="oldPassword"/>
      <div *ngIf="oldPassword?.touched && oldPassword?.errors">
        <div *ngIf="oldPassword.errors.required" class="alert alert-danger">
          Old password should be present
        </div>
        <div *ngIf="oldPassword.errors.minlength" class="alert alert-danger">
          Old password should be longer than 5 symbols
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">New password</label>
      <input
        required
        #password="ngModel"
        ngModel
        name="password"
        minlength="5"
        type="password"
        class="form-control"
        id="password"/>
      <div *ngIf="password?.touched && password?.errors">
        <div *ngIf="password.errors.required" class="alert alert-danger">
          Password should be present
        </div>
        <div *ngIf="password.errors.minlength" class="alert alert-danger">
          Password should be longer than 5 symbols
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="matchingPassword">Matching password</label>
      <input
        required
        #matchingPassword="ngModel"
        ngModel
        name="matchingPassword"
        minlength="5"
        type="password"
        class="form-control"
        id="matchingPassword"/>
      <div *ngIf="matchingPassword?.touched && matchingPassword?.errors">
        <div *ngIf="matchingPassword.errors.required" class="alert alert-danger">
          Matching password should be present
        </div>
        <div *ngIf="!matchingPassword.errors.required && matchingPassword != password" class="alert alert-danger">
          Passwords doesn`t match
        </div>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="!f.valid">
      Submit
    </button>
  </form>
</div>
