<div id="lectures-section">
  <div id="lectures-list">
    <div class="list-group">
      <a [routerLink]="[lab.id]" routerLinkActive="active" *ngFor="let lab of getValues()"
         class="list-group-item list-group-item-action">
        {{lab.name}}
      </a>
      <button routerLink="createLab" routerLinkActive="active" class="btn btn-light mt-4">
        Створити лабораторну
      </button>
      <input type="button" class="btn btn-primary" (click)="generateReport()" value="Згенерувати звіт">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
